Author: Hamagardy <Hgardy2@gmail.com>
Maintainer: Hamagardy <Hgardy2@gmail.com>
Name: Kurdish logo for Zeppelin
Package: Com.Hamagardy.kurdishlogozeppelin
Depends: firmware(>= 4.0), com.alexzielenski.zeppelin
Section: Addons (Zeppelin)
Installed-Size: 116
Version: 1.0
Architecture: iphoneos-arm
Description: چه‌ند لۆگۆیه‌كی ناوی كوردستان وه‌ لۆگۆی ئاینی بۆ زێپلین
